.he{
    font-size: 30px;
    
}
#Hello{
    font-size: 23px;
    margin-top: 100px;
    margin-left: 50%;
    margin-right: 50%;
    height: fit-content;
    padding: 30px;
    width: 400px;
    border-radius: 30px;
    background-color: rgb(48, 171, 114);
    border: 2px solid rgb(6, 6, 6)
    
    
}
body{
    background-color: antiquewhite;
}